<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Personal Gacha Pull Tacking Page</h1>

    <nav>
        <div>
            <a href="">Home</a>
            <a href="">Articles</a>
        </div>

        <div>
            <a href="">Sign Up</a>
            <a href="">Log in</a>
        </div>
    </nav>

{% block content %}
{% endblock content %}

</body>
</html>